<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- for logo  -->
    <link
      rel="shortcut icon"
      
      href="https://lh3.googleusercontent.com/Hh_QKiJDmg2LQdL2aJ3cw_hBnWyH6dEqaFsiOgLNAZ6XnpPVuvrBCSeNzKQA8GCk519H=s180"
      type="image/x-icon"
    />
    <!-- for sliding -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <!-- for linking -->
    <link rel="stylesheet" href="../CSS/product.css" />
    <link rel="stylesheet" href="../CSS/navbar.css" />
    <link rel="stylesheet" href="../CSS/footer.css" />

    <!-- for greater font -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- for upper font arrow -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title><%=prod.title%></title>
  </head>
  <body>
    <div id="container"><div id="sznavbar">
    <div id="szlocation">
      <div id="szmap">
        <i id="map" class="fas fa-map-marker-alt"></i>
      </div>

      <!-- <img src="https://img.icons8.com/material-outlined/50/000000/marker.png"/> -->
      <div id="szpin">
        <h1>PINCODE </h1>
        <p>400049</p>
        <div id="szpencil">
          <i class="fas fa-pencil-alt"></i>
        </div>

      </div>
    </div>

    <hr>
    <!-- //croma -->
    <div id="szlogo">
    <div id="szlo">
    
    <a href="/index.html"><img
    src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://www.croma.com/assets/images/croma_logo_dark.png/mxw_192,f_auto"
    alt="Croma Logo"></a>

      </div>
      <!-- //menu -->
      <div id="szmenu">
        <button id="active">
          <i class="fas fa-bars"></i>

          <a href="">Menu</a>
          <div id="szsubmenu">
            <p2>SHOP BY <br> CATEGORY</p2>
            <ul>
              <li id="hover_me"> <a href="">Television & Accessories <i class="far fa-greater-than"
                    style="color: white;"></i></a>
                <div id="sub-menu2">
                  <ul>
                    <li><a href="">LED TVs</a></li>
                    <li><a href="">QLED TVs</a></li>
                    <li><a href="">OLED TVs</a></li>
                    <li><a href="">4K Ultra HD TVs</a></li>
                    <li><a href="">8K Ultra HD TVs</a></li>
                    <li><a href="">Smart TVs</a></li>
                    <li><a href="">Full HD TVs</a></li>
                    <li><a href="">HD Ready TVs</a></li>
                    <li><a href="">Andriod Smart TVs</a></li>
                    <li><a href="">Large Screen TVs</a></li>
                    <li><a href="">Medium Screen TVs</a></li>
                    <li><a href="">Small Screen TVs</a></li>
                    <li><a href="">Croma LED TVs</a></li>
                    <li><a href="">Gaming TVs</a></li>
                    <li><a href="">TV Accessories</a></li>
                    <li><a href="">TV Wall Mount & Stands </a></li>
                    <li><a href="">TV Cabels & Connectors</a></li>
                    <li><a href="">Cabels & Connectors</a></li>
                    <li><a href="">Other TV Accessories</a></li>
                    <li><a href="">Remotes & IR Blaster</a></li>
                    <li><a href="">TV Radiation Protection Chips</a></li>
                    <li><a href="">Media Streaming Devices</a></li>
                    <li><a href="">Projectors</a></li>
                    <li><a href="">Long Throw Projectors</a></li>
                    <li><a href="">Short Throw Projectors</a></li>
                    <li><a href="">Ultra Short Throw</a></li>
                    <li><a href="">Projectors</a></li>
                    <li><a href="">HD Projectors</a></li>

                    <li id="side"><a href="">Full HD Projectors</a></li>
                    <li><a href="">Ultra HD 4K Projectors</a></li>



                  </ul>

                </div>
              </li>
              <li id="hover_me1"><a href="">Home Appliances <i class="far fa-greater-than" style="color: white;"></i>
                </a>
                <div id="sub-menu3">
                  <ul>
                    <li>Washing Machines & Dryers</li>
                    <li>Front Load Washing Machines</li>
                    <li>Top Load Waching Machines</li>
                    <li>Semi Automatic Washing Machines</li>
                    <li>Fully Automatic Waching Machines</li>
                    <li>Washer Dryer Combo</li>
                    <li>Clothes Dryers</li>
                    <li>Smart Washing Machines</li>
                    <li>Croma Washing Machines <br>Washing Machines</li>
                    <li>Accessories <br> Washer Detergent</li>
                    <li>Washer Descaiers</li>
                    <li>Washer/Dryer Corvers & Stands</li>
                    <li>Refrigerators & Freezers</li>
                    <li>Single Door Refrigerators</li>
                    <li>Double Door Refrigrators</li>
                    <li>Triple Door Refrigerators</li>
                    <li>Side By Side Refrigerators</li>
                    <li>French Door Refrigerators </li>
                    <li>Bottom FreezerRefrigerators </li>
                    <li> Mini FreezerRefrigerators </li>
                    <li>Deep Freezer Refrigerators </li>
                    <li>Built-in Refrigerators</li>
                    <li>Wine Coolers</li>
                    <li>Ice Makers</li>
                    <li>Smart Refrigrators</li>
                    <li>3 Star Refrigrators</li>
                    <li>4 Star Refrigrators</li>
                    <li>5 Star Refrigrators</li>
                    <li>Croma Refrigerators</li>
                    <li>Refrigerators & Freezer Accessories</li>
                    <li>Air Conditioner</li>
                    <li>Inverter ACs</li>
                    <li>Protable ACs</li>
                    <li>Split ACs</li>
                    <li>Window ACs</li>
                    <li>Cassette ACs</li>
                    <li>Smart ACs</li>
                    <li>Tower ACs</li>
                    <li>Hot and Cold ACs</li>
                    <li>3 Star Acs</li>
                    <li>5 Star Acs</li>
                    <li>Croma Air Conditioners</li>
                    <li>Air Conditioner Accessories Dry Irons</li>
                  </ul>
                </div>

              </li>
              <li id="hover_me3"><a href="">Phone and Wearables <i class="far fa-greater-than"
                    style="color: white;"></i> </a>
                <div id="sub-menu5">
                  <ul>
                    <li>Mobile Phones</li>
                    <li>Android Phones</li>

                    <li>iPhones</li>
                    <li>Features Phones</li>
                    <li>Refurbished Mobile Phones</li>
                    <li>Gaming Mobile Phones</li>
                    <li>Telephones </li>
                    <li>Landline Phones</li>
                    <li>Cordless Phones</li>
                    <li>Wearables</li>
                    <li>Smart Brands</li>
                    <li>Smart Watches </li>
                    <li>Fitness Trackers</li>
                    <li>VR Headsets</li>
                    <li>Fitness Brands, Trackers & <br>Pedomotors</li>
                    <li>Wearable Accessories</li>
                    <li>Other Wearables <br>Accessories</li>
                    <li>Wearables Device <br> Chargers & Adapters</li>
                    <li>Wearables Device <br>Straps/Belts</li>
                    <li>Wearables Device Cases &<br>Protectors</li>
                    <li>Headphones & Earphones</li>
                    <li>Bluetooth Earphones</li>
                    <li>Bluetooth Headphones </li>
                    <li>Earphones</li>
                    <li> Headphones</li>
                    <li>Bluetooth Headstes</li>
                    <li>Truly Wireless Earbuds</li>
                    <li>Mobile Accessories</li>
                    <li>Mobile Cases & Covers</li>
                    <li>Mobile Chargers & Adapters </li>

                  </ul>

                </div>

              </li>
              <li id="hover_me4"><a href="">Computers & Table <i class="far fa-greater-than"
                    style="color: white;"></i></a>
                <div id="sub-menu6">
                  <ul>
                    <li>Laptops</li>
                    <li>Windows Laptops</li>
                    <li>MacBooks</li>
                    <li>Gaming Laptops</li>
                    <li>2-In-1 Laptops</li>
                    <li>DOS & Ubuntu Laptops</li>
                    <li>Refurbished Laptops</li>
                    <li>Ultra Thin Laptops</li>
                    <li>Content Creation <br> Laptops</li>
                    <li>Thin & Light Laptops</li>
                    <li>Tablets & eReaders </li>
                    <li>Android Tablets</li>
                    <li>iPads</li>
                    <li>Kindles</li>
                    <li>Digital Pads</li>
                    <li>Desktops & All-in-Ones</li>
                    <li>All-in-Ones Desktops</li>
                    <li>iMacs</li>
                    <li> Desktops</li>
                    <li>Monitors</li>
                    <li>Full HD Monitors</li>
                    <li>Gaming Monitors</li>
                    <li>4K Monitors</li>
                    <li>Computer Audio</li>
                    <li>Multimedia Speakers</li>
                    <li>Headphones & Earphones</li>
                    <li>Croma Computer Audio</li>
                    <li>Network Components</li>
                    <li>Wi-Fi Routers</li>
                    <li>Network Adapters</li>
                    <li>Range Extenders </li>
                    <li>Mash Routers</li>
                    <li>Network Switches</li>
                    <li>Printers</li>
                    <li>Laser Printers</li>

                  </ul>
                </div>
              </li>
              <li id="hover_me5"><a href="">Kitchen Appliances <i class="far fa-greater-than"
                    style="color: white;"></i></a>
                <div id="sub-menu7">
                  <ul>
                    <li>Dishwashers </li>
                    <li>Microware & Ovens</li>
                    <li>Convection Microwave <br>Ovens</li>
                    <li>Grill Microwave Ovens</li>
                    <li>Solo Microwave Ovens</li>
                    <li>Built-in Microwave & Ovens</li>
                    <li>Oven-Toaster-Grills(OTG)</li>
                    <li>Croma Microwave & Ovens</li>
                    <li>Microwave Accessories </li>
                    <li>Water Purifiers & <br> Despensers</li>
                    <li>Water Purifiers </li>
                    <li>Water Despensers</li>
                    <li>Vegetable & Fruit <br>Cleaners</li>
                    <li>Water Generators</li>
                    <li>Croma Water Purifiers <br> & Despensers</li>
                  </ul>



                </div>


              </li>
              <li id="hover_me7"><a href="">Audio & Video <i class="far fa-greater-than" style="color: white;"></i></a>
                <div id="sub-menu9">
                  <ul>
                    <li>Media Players</li>
                    <li>Digital Audio/Video <br>Players </li>
                    <li>Pre-Loaded Devices</li>
                    <li>Croma Media Players</li>
                    <li>Headphones & Earphones</li>
                    <li>Blutooth Headphones</li>
                    <li>Blutooth Earphones</li>
                    <li>Earphones</li>
                    <li> Headphones</li>
                    <li>Bluetooth Headstes</li>
                    <li>Truly Wireless Earbuds</li>
                    <li>Gaming Headsets</li>
                    <li>Speakers</li>
                    <li>Multimedia Speakers</li>
                    <li>Smart speakers </li>
                    <li>Portable & Bluetooth Speakers</li>
                    <li>Party Speakers</li>
                    <li>Croma Speakers </li>
                    <li>Home Theater Systems</li>
                    <li>Home Theater</li>
                    <li>Sound Bars</li>
                    <li>Home Audio System</li>
                    <li>Karaoke Mics & <br> Microphones</li>
                    <li>Audio Amplifires</li>
                    <li>Other Audio System</li>

                  </ul>
                </div>


              </li>
              <li id="hover_me8"><a href="">Health & Fitness <i class="far fa-greater-than"
                    style="color: white;"></i></a>
                <div id="sub-menu10">
                  <ul>
                    <li>Health Care Products</li>
                    <li>Massagers</li>
                    <li>Weight & Scales</li>
                    <li>Sanitization Products</li>
                    <li>Nebulizer</li>
                    <li>Hearing Aids</li>
                    <li>Steam Vaporizers</li>
                    <li>Health Monitiors</li>
                    <li>Other Health Cares <br> Products</li>
                    <li>Croma Health Cares <br> Products</li>
                    <li>Electric Beds & Bed Warmers</li>
                    <li>Covid-19 Essentials</li>
                    <li>Baby Cares products</li>
                    <li>Eldery Cares products</li>
                    <li>Fitness Equipments</li>
                    <li>Treadmills</li>
                    <li>Exercise Bikes</li>
                  </ul>



                </div>
              </li>
              <li id="hover_me9"><a href="">Grooming & Personal Care <i class="far fa-greater-than"
                    style="color: white;"></i></a>
                <div id="sub-menu11">
                  <ul>
                    <li>Hair Care Products</li>
                    <li>Hair Straightners</li>
                    <li>Hair Dryers</li>
                    <li>Hair Stylers</li>
                    <li>Croma Hair Care <br> Products</li>
                    <li>Other Hair Care Products</li>
                    <li>Personal Grooming <br> Products</li>
                    <li>Epilitors</li>
                    <li>Trimmers</li>
                    <li>Grooming Kits</li>
                    <li>Shavers</li>
                    <li>Croma Personal <br> Grooming Products</li>
                    <li>Dental Care Products</li>
                    <li>Grooming Accessories</li>
                    <li>Other Personal Grooming <br> Products</li>
                    <li>Pet Care Products</li>
                  </ul>



                </div>


              </li>
              <li id="hover_me10"><a href="">Cameras & Accessories <i class="far fa-greater-than"
                    style="color: white;"></i></a>

                <div id="sub-menu12">
                  <ul>
                    <li>Point & Shoots Cameras</li>
                    <li>Instant Cameras</li>
                    <li>Professional Cameras</li>
                    <li>DSLR Cameras</li>
                    <li>Mirrorless Cameras</li>
                    <li>Full-Frames Cameras</li>
                     
                    <li>Camera Lens</li>
                    <li>Sports & Action cameras</li>
                    <li>Camcoders</li>
                    <li>CCTV Video Security</li>
                    <li>Portable Photo Printers</li>
                    <li>Camera Accessories</li>
                    <li>Tripod Mounts & <br> Monopods</li>
                    <li>Camera  Batteries &  <br>  Chargers</BR></li>
                    <li>Cameras Bags & Pouches</li>
                    <li>Other Camera  <br> Accessories</li>
                    <li>Memory Cards </li>
                    <li>Camera Filters</li>
                    <li>Camera Lens Accessories</li>
                    <li>Sports & Action cameras <br> Accessories </li>
                    <li>Photo Paper Sheets</li>
                    <li>Selfie Sticks & Gimbals</li>
                    <li>Flash & Flash Accessories</li>
                    <li>Binoculars & Telescopes</li>
                    <li>Studio & Lighting Products</li>
                  <li>Digital Photo Frames</li>
                  </ul>



                </div>

              </li>
              <li id="hover_me11"><a href="">Smart Device <i class="far fa-greater-than" style="color: white;"></i></a>
                <div id="sub-menu13">
                  <ul>
                    <li>Smart Kitchen Devices</li>
                    <li>Smart Home Devices</li>
                    <li>Smart DisplaY </li>
                    <li>Universal & Smart <br> Remotes</li>
                    <li>Smart TVs </li>
                    <li>Smart Air  Purifiers </li>
                    <li>Smart Washing Machines </li>
                    <li>Smart Refrigerators</li>
                    <li>Smart ACs</li>
                    <li>Smart Air Coolers </li>
                    <li>Smart Water Heaters</li>
                    <li>Smart Fans</li>         
                    <li>Smart Lightings </li>
                    <li>Smart Plugs </li>
                    <li>Smart Speakers</li>
                    <li>Smart Work Devices </li>
                     
                  </ul>



                </div>

              </li>
              <li id="hover_me12"><a href="">Gaming <i class="far fa-greater-than" style="color: white;"></i></a>
                <div id="sub-menu14">
                  <ul>
                    <li>Gaming Consoles</li>
                    <li>Gaming Laptops</li>
                    <li>Gaming Software</li>
                    <li>PC Games</li>
                    <li>PlayStation Games</li>
                    <li>XBOX Games</li>
                    <li>Gaming Accessories</li>
                    <li>Gaming Mice</li>
                    <li>Gaming Controllers</li>
                    <li>Gaming</li>
                    <li>Gaming Mouse Pads</li>
                    <li>Gaming Headsets</li>
                    <li>Other Gaming Accessories </li>
                   
                    <li>Gaming Console & <br> Controller Skins</li>
                    <li>Gaming Keyboards</li>
                    <li>Electronic Toys</li>
                    <li>Educatinal Toys</li>
                    <li>Hoverboards</li>
                    <li>Remote Control Toys</li>
                    <li> Robot Toys & Accessories</li>
                    <li>3D Printers & 3D Pens</li>
                    
                  </ul>



                </div>
              
                    
         </li>
              <li id="hover_me13"><a href="">Accessories <i class="far fa-greater-than" style="color: white;"></i></a>
                <div id="sub-menu15">
                  <ul>
                    <li>Travel Accessories</li>
                    <li>Smart Wallets</li>
                    <li>Travel Bags</li>
                    <li>Travel Comforts & Gears</li>
                    <li>Travel Securities</li>
                    <li>Travel Adapters</li>
                    <li>Croma Travel Accessories</li>
                    <li>Binoculars & Telescopes</li>
                    <li>Other Travel Accessories</li>
                    <li>Car  Accessories</li>
                    <li>Car Mobiles Holders </li>
                    <li>Car Charger </li>
                    <li>Croma Car  Accessories</li>
                    <li>Tyre Inflators</li>
                    <li>Car Washers</li>
                    <li>Car Refrigrators</li>
                    <li>Mobile Accessories</li>
                    <li>Mobile Cases & Covers</li>
                    <li>Mobile Antivirus</li>
                    <li>Pop Sockets</li>
                    <li>Blutooth Headphones</li>
                    <li>Blutooth Earphones</li>
                    <li>Earphones</li>
                    <li> Headphones</li>
                    <li>Bluetooth Headstes</li>
                    <li>Truly Wireless Earbuds</li>
                    <li></li>
                  </ul>

                </div>       
              </li>
              <li id="hover_me14"><a href="">Top Brands <i class="far fa-greater-than" style="color: white;"></i></a>
                <div id="sub-menu16">
                  <ul>
                    <li>Amazon </li>
                    <li>Apple</li>
                    <li>Bajaj</li>
                    <li>Blue Stars</li>
                    <li>Boat</li>
                    <li>Bosch</li>
                    <li>Bose</li>
                    <li>Canon</li>
                    <li>Croma</li>
                    <li>Daikin</li>
                    <li>Dell</li>
                    <li>Dyson</li>
                    <li>Eleon</li>
                    <li>Elica</li>
                    <li>Faber</li>
                    <li>Haier</li>
                    <li>Hitachi</li>
                    <li>Hisense</li>
                    <li>IFB</li>
                    <li>JBL</li>
                    <li>Lenavo</li>
                    <li>LG</li>
                    <li>Marshall</li>
                    <li>Nikon</li>
                    <li>Nokia</li>
                    <li>OnePlus</li>
                    <li>Oppo</li>
                    <li>Panasonic</li>
                    <li>Phillps</li>
                    <li>Realme</li>
                    <li>Samsung</li>
                    <li>Skullcandy</li>
                    <li>Swiss Militry</li>
                    <li>TCL</li>
                    <li>Vivo</li>
                    <li>Voltas</li>
                    <li>Xiaomi</li>
                  </ul>



                </div>
              
              </li>

            </ul>
          </div>
        </button>



      </div>

      <div id="szsearch">
        <div id="szframe">
          <input id="input" type="text" placeholder="Only Mobile phone and Mac book available" />


          <div id="szsearch-btn">
            <button type="submit" onclick="press()"><i class="fa fa-search"></i></button>
          </div>
        </div>

      </div>
      
      <div id="szorder">
    
        <button id = "gvddButton">ORDERS </button>
      </div>
     
      
      <a href="/routes/login.html">
      <div id="szsign">
        <button> SIGN IN</button>
      </div>
      </a>
      
     
      <a href="/routes/cart.html" style="color: white;
    text-decoration: none;"> 
      <div id="szcart">
       <i class="fas fa-shopping-cart"></i>
       <div id="cartValu">5</div>
        <button>CART</button>
      </div>
      </a>

    </div>
  </div></div>
    <div id="gvmainBox">
      <div id="gvupperBox">
        <div><a href="">Phones & Wearables</a></div>

        <div>
          <i
            class="far fa-greater-than"
            style="color: #999787; margin-right: 5%"
          ></i>
          <a href="">Mobile Phones</a>
        </div>

        <div>
          <i
            class="far fa-greater-than"
            style="color: #999787; margin-right: 9%"
          ></i
          ><a href="">Android Phones</a>
        </div>
      </div>
      <div id="gvphoneDetails">
        <div id="gvmainBoxgv">
          <div id="gviconBox">
            <i class="fa fa-eye" style="font-size: 18px; color: white"></i>
            <span style="color: white; margin-left: 4%">50675</span>
            <i
              class="fa fa-share-alt"
              style="font-size: 18px; color: white; margin-left: 3%"
            ></i>
            <i
              class="fa fa-heart-o"
              style="font-size: 18px; color: white; margin-left: 3%"
            ></i>
          </div>
          <!-- <div class="gvleftmainBoxgv">
            <div class="gvproductThumbnailsgv">
              <div
                style="
                  position: relative;
                  text-align: center;
                  margin-bottom: 10px;
                  margin-right: 20px;
                "
              >
                <i class="arrow up"></i>
              </div>
              <div class="gvswiper-containergv">
                <div
                  class="gvthumbSliderWrapperClassgv"
                  style="transform: translate3d(0px, 0px, 0px)"
                >
                  <div
                    class="gvthumbSlideClassgv gvthumbsSliderActiveClassgv"
                    id="gvthumb1gv"
                    style="height: 74px; margin-bottom: 5px"
                  >
                    <div>
                      <img
                        src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1641445056/Croma%20Assets/Communication/Mobiles/Images/246699_3_kc7df2.png/mxw_1440,f_auto"
                        title="Modern Noise Red Checks Shirts-Front Bewakoof"
                        alt="Shop Modern Noise Red Checks Shirts-Front"
                        width="100%"
                        class="gvproductThumbImagegv"
                      />
                    </div>
                  </div>
                  <div
                    class="gvthumbSlideClassgv"
                    id="gvthumb2gv"
                    style="height: 74px; margin-bottom: 5px"
                  >
                    <div>
                      <img
                        src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1641445056/Croma%20Assets/Communication/Mobiles/Images/246699_4_jjs8fi.png/mxw_1440,f_auto"
                        title="Modern Noise Red Checks Shirts-Back Bewakoof"
                        alt="Shop Modern Noise Red Checks Shirts-Back"
                        width="100%"
                        class="gvproductThumbImagegv"
                      />
                    </div>
                  </div>
                  <div
                    class="gvthumbSlideClassgv gvthumbVideoClassgv"
                    id="gvthumb3gv"
                    style="height: 74px; margin-bottom: 5px"
                  >
                    <div>
                      <img
                        src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1641445056/Croma%20Assets/Communication/Mobiles/Images/246699_5_a1r8no.png/mxw_1440,f_auto"
                        title=" Bewakoof"
                        alt="Shop "
                        width="100%"
                        class="gvproductThumbVideogv"
                      />
                    </div>
                  </div>
                  <div
                    class="gvthumbSlideClassgv"
                    id="gvthumb4gv"
                    style="height: 74px; margin-bottom: 5px"
                  >
                    <div>
                      <img
                        src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1641445057/Croma%20Assets/Communication/Mobiles/Images/246699_6_rq56k3.png/mxw_1440,f_auto"
                        title="Modern Noise Red Checks Shirts-Design Bewakoof"
                        alt="Shop Modern Noise Red Checks Shirts-Design"
                        width="100%"
                        class="gvproductThumbImagegv"
                      />
                    </div>
                  </div>
                  <div
                    class="gvthumbSlideClassgv"
                    id="gvthumb5gv"
                    style="height: 74px; margin-bottom: 5px"
                  >
                    <div>
                      <img
                        src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1641445058/Croma%20Assets/Communication/Mobiles/Images/246699_7_cmjxwx.png/mxw_1440,f_auto"
                        title="Modern Noise Red Checks Shirts-Full Bewakoof"
                        alt="Shop Modern Noise Red Checks Shirts-Full"
                        width="100%"
                        class="gvproductThumbImagegv"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                style="
                  position: relative;
                  text-align: center;
                  margin-top: 10px;
                  margin-right: 20px;
                "
              >
                <i class="arrow down"></i>
              </div>
            </div>
          </div> -->

          <div class="gvmiddlemainBoxgv">
            <img id="gvmainImggv" src="<%=prod.image%>" />
          </div>
          <div id="gvCompare">
            <span style="margin-left: 4%; margin-top: 5%; margin-right: 5%"
              >Compare</span
            >
            <img
              src="https://www.croma.com/assets/images/cts-white.svg"
              alt=""
              height="25%"
              style="margin-top: 4%"
            />
            <span
              style="
                margin-top: 5%;
                text-decoration: underline;
                margin-left: 1%;
              "
              >Connect to Store</span
            >
            <img
              src="https://www.croma.com/assets/images/swv-white.svg
            "
              alt=""
              height="25%"
              style="margin-top: 4%; margin-left: 4%"
            /><span
              style="
                margin-left: 1%;
                margin-top: 5%;
                text-decoration: underline;
              "
              >Shop with Video</span
            >
          </div>
        </div>
        <!-- <div id="gvphotoBox">
          
          <div id="gvLeft"></div>
          <div id="gvRight"></div>
        </div> -->
        <div id="gvdetails">
          <div>
            <h2> <%=prod.title%> </h2>
            <p style="font-size: 16px; font-family: Gotham, serif">
              PRODUCT ID: 229942<span
                class="fa fa-star gvchecked"
                style="font-size: 23px; margin-left: 5%"
              ></span>
              <span class="fa fa-star" style="font-size: 23px"></span>
              <span class="fa fa-star" style="font-size: 23px"></span>
              <span class="fa fa-star" style="font-size: 23px"></span>
              <span class="fa fa-star" style="font-size: 23px"></span>
            </p>
          </div>
          <div id="gvPrice">
            <div>
              <h2 style="text-decoration: Gotham, serif; font-size: 22px">
                ₹<%=prod.price%>
              </h2>
            </div>
            <div></div>
            <div><p>(Inclusive of all taxes)</p></div>
          </div>
          <h4>
            From ₹2,777/mo.<a
              href=""
              style="
                color: #00c09e;
                text-decoration: underline;
                font-weight: 700;
                font-size: 18px;
                margin-left: 1%;
              "
              >EMI options</a
            >
          </h4>
          <img
            src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://www.croma.com/assets/images/extra-savings-white.png/mxw_1440,f_auto"
            alt=""
            height="3%"
          />
          <b style="margin-left: 1%; font-size: 22px"
            >Extra Savings (4 Offers)</b
          >
          <hr style="width: 85%; margin-left: 0%" />
          <input
            type="checkbox"
            id="gvCheck"
            style="width: 3%; height: 3%; color: black; border-radius: 5px"
          />
          <span
            >Shop worth Rs.5000/- and Get Rs.500 off on on Boat products worth
            Rs.999 or above Check here</span
          >
          <br />
          <br />
          <input
            type="checkbox"
            id="gvCheck"
            style="width: 3%; height: 3%; color: black; border-radius: 5px"
          />
          <span
            >Shop worth Rs.10,000/- and Get Rs.1000/- off on Boat products worth
            Rs.1999 or above Check here</span
          >
          <br />
          <p
            style="
              line-height: 20px;
              font-size: 17px;
              font-family: Gotham, serif;
              font-weight: 400;
            "
          >
            6 months No Cost EMI & cashback of Rs.5,000 on ICICI Bank, SBI &
            Kotak Bank credit cards. Cashback will be posted in Customer account
            within 120 days from the last date of the transaction month on a
            best effort basis to all open and active card members accounts.
            Select offer under “view all offers” segment on payment page to
            avail the benefit. T&C Apply”Learn More
          </p>
          <div id="gvRupay">
            <div>
              <img
                src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1640096785/Croma%20Assets/CMS/Bank%20Offer%20Logo/rupay_p7kfcd.png/mxw_1440,f_auto"
                alt=""
                width="50%"
                height="100%"
              />
            </div>
            <div>
              <p style="color: white">
                10% Cashback upto Rs.1,000 on Rupay Credit card & Debit Card for
                cart value above Rs. 5,000. Select the offer from “View all
                offers ”on payment page T&C Apply.Learn More
              </p>
            </div>
          </div>

          <div id="gvDelivery">
            <h3>
              Delivery to 263645
              <span
                style="
                  color: #00c09e;
                  text-decoration: underline;
                  font-weight: 700;
                  font-size: 18px;
                "
                >Change</span
              >
            </h3>
            <h3>
              <img
                src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1637828519/Croma%20Assets/UI%20Assets/Standard-Delivery-Black-Theme.svg/mxw_1440,f_auto"
                alt=""
                width="4%"
                height="4%"
              />
              <span
                style="margin-left: 1%; font-size: 18px; padding-bottom: 10%"
              >
                Will be delivered by 24 January 2022</span
              >
            </h3>
          </div>
          <img
            src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1637759131/Croma%20Assets/CMS/Category%20icon/Final%20icon/jvqga6pxejreylrd3jrd.svg/mxw_1440,f_auto"
            alt=""
          />
          <span style="margin-left: 1%; font-size: 18px"
            >Zip Protection Plan</span
          >
          <hr style="width: 85%; margin-left: 0%" />
          <h3>Extended warranty plans starting at ₹3199 (Approx ₹267/mo.)</h3>
          <h3 style="font-size: 16px; font-weight: 400">
            Extended protection for your device beyond the manufacturer warranty
            with coverage against all manufacturing defects.
            <span style="color: #00c09e; text-decoration: underline"
              >Know More</span
            >
          </h3>
          <div>
            <input type="radio" style="width: 5%" />
            <span style="font-size: 18px; margin-left: 1%"
              >1 Year Extended Warranty-Onsitego</span
            >
            <span style="margin-left: 40%">₹3199</span>
          </div>
          <div id="gvButtonbox">
            <button id="gvBuy">BUY NOW</button>
            <button
              onclick="addingItem()"
              id="gvAddcart"
              style="
                margin-left: 3%;
                color: white;
                background-color: #121212;
                border: 1px solid white;
              "
            >
              ADD TO CART
            </button>
          </div>
          <div id="gvNote">
            <ul>
              <h4>Special Note</h4>
              <li>
                All deliveries & installations are subject to government
                restrictions.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- items feature -->
      <div id="gvItemsfeature">
        <div class="gvAccordion">
          <div class="gvAccordion-item" id="gvFeature1">
            <a class="gvAccordian-link" href="#gvFeature1">
              Key Features
              <i class="fas fa-angle-up" style="font-size: 26px"></i>
              <i class="fas fa-angle-down" style="font-size: 26px"></i>
            </a>
            <div class="gvDetails">
              <ul>
                <li>6.56 inch S-Amoled FHD+ Display</li>
                <li>256GB ROM |12GB RAM | Android Version 12</li>
                <li>MTK Dimensity 1200 5G Processor</li>
                <li>R: 12MP + 12MP | F: 12MP</li>
                <li>108MP Triple Rear Camera| 50MP+8MP Front Camera</li>
                <li>4300mAh Battery</li>
                <li>In-Display Fingerprint Sensor</li>
              </ul>
            </div>
          </div>

          <div class="gvAccordion-item" id="gvFeature2">
            <a class="gvAccordian-link" href="#gvFeature2">
              Specifications
              <i class="fas fa-angle-up" style="font-size: 26px"></i>
              <i class="fas fa-angle-down" style="font-size: 26px"></i>
            </a>
            <div class="gvDetails">
              <ul>
                <h3>Mobile Category</h3>
                <li style="font-size: 18px; line-height: 27px">Mobile Type</li>
                <li style="font-size: 13px">Android Smartphone</li>
              </ul>
              <br />
              <h3>Manufacturer Details</h3>
              <ul>
                <li>Brand</li>
                <li>
                  <span style="color: #00c09e; text-decoration: underline"
                    >Vivo</span
                  >
                </li>
              </ul>
              <br />
              <h3 style="line-height: 0px">Mobile Form Factor</h3>
              <p>Touch</p>
            </div>
          </div>
          <div class="gvAccordion-item" id="gvFeature3">
            <a class="gvAccordian-link" href="#gvFeature3">
              Overview
              <i class="fas fa-angle-up" style="font-size: 26px"></i>
              <i class="fas fa-angle-down" style="font-size: 26px"></i>
            </a>
            <div class="gvDetails">
              <ul>
                <h3>Why Buy Vivo V23 Pro 5Gi</h3>
                <li>
                  6.56-inch S-Amoled FHD+ 90Hz, 3D Curved Display for
                  magnificent and best clarity
                </li>
                <li>
                  Storage 256GB to store every one of your recordings, photos
                </li>
                <li>
                  108MP + 8MP +2MP Triple Rear Camera| 50MP + 8MP Front Camera
                  to get best shots
                </li>
                <li>
                  MTK Dimensity 1200 5G Processor for best and dazzling gaming
                  and performing various tasks performance
                </li>
                <li>
                  4300mAh Battery which offers extraordinary battery backup
                </li>
              </ul>
              <br />
              <p style="line-height: 30px">
                Assuming you are searching for an allrounder phone with a piece
                of the astounding parts stacked in it then, the Vivo V23 Pro 5G
                is for you. It comes with MTK Dimensity 1200 5G Processor based
                on the Android 12 working structure which is likely the best
                processor in the segment. With this, you are getting a
                tremendous 4300 mAh battery which will give you battery support
                of close to 1 day which is exceptionally reasonable close by
                this you get fast charging supports of up to 44W that will
                charge your phone instantly. The Vivo V23 Pro 5G is the best
                phone in this segment. With 6.56-inch S-Amoled FHD+ 90Hz, 3D
                Curved Display gives you precision and superb viewing angles.Get
                the Vivo V23 Pro 5G mobile phone which is the best mobile phone
                in the segment and at a sensible price. With a 108MP + 8MP +2MP
                Triple Rear Camera, you can take amazing photos and videos, and
                with India’s 1st 50MP Eye AF Dual Selfie Camera to take selfies.
                It comes with the capacity of 256GB ROM you can without much of
                a stretch store your information. Close by 12GB RAM for better
                performing different assignments execution. Discussing
                protection and security, there are some significant sensors
                remembered for this phone those are In-Display Fingerprint
                Sensor, Ambient Light Sensor, Accelerometer, Gyroscope,
                Electronic compass, Proximity Sensor with the goal that you can
                undoubtedly secure your data in your phone. Along these lines,
                don't wait much and order the Vivo V23 Pro 5G online
              </p>
            </div>
          </div>
          <div class="gvAccordion-item" id="gvFeature4">
            <a class="gvAccordian-link" href="#gvFeature4">
              Review
              <i class="fas fa-angle-up" style="font-size: 26px"></i>
              <i class="fas fa-angle-down" style="font-size: 26px"></i>
            </a>
            <div class="gvDetails">
              <div style="display: flex">
                <div class="gvReview"><h3>Customer Reviews(11)</h3></div>
                <div class="gvReview"><h3>Expert Reviews()26</h3></div>
                <div class="gvReview"><h3>External User Reviews</h3></div>
                <div class="gvReview"><h3>Write a Review</h3></div>
              </div>
              <div class="gvReviewdetails">
                <div class="gvImgreview">
                  <img
                    src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg/Croma%20Assets/UI%20Assets/profile-avatar.png/mxw_1440,f_auto"
                    alt=""
                    width="30%"
                    height="100%"
                  />
                </div>
                <div class="gvImgright">
                  <h3>Yadi Reddy</h3>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  (5.0) | 14 September 2021
                  <h3>Nice</h3>
                </div>
              </div>
              <hr />
              <div class="gvReviewdetails">
                <div class="gvImgreview">
                  <img
                    src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg/Croma%20Assets/UI%20Assets/profile-avatar.png/mxw_1440,f_auto"
                    alt=""
                    width="30%"
                    height="100%"
                  />
                </div>
                <div class="gvImgright">
                  <h3>Yadi Reddy</h3>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  (5.0) | 14 September 2021
                  <h3>Nice</h3>
                </div>
              </div>
              <hr />
              <div class="gvReviewdetails">
                <div class="gvImgreview">
                  <img
                    src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg/Croma%20Assets/UI%20Assets/profile-avatar.png/mxw_1440,f_auto"
                    alt=""
                    width="30%"
                    height="100%"
                  />
                </div>
                <div class="gvImgright">
                  <h3>Yadi Reddy</h3>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  (5.0) | 14 September 2021
                  <h3>Nice</h3>
                </div>
              </div>
              <hr />
              <div class="gvReviewdetails">
                <div class="gvImgreview">
                  <img
                    src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg/Croma%20Assets/UI%20Assets/profile-avatar.png/mxw_1440,f_auto"
                    alt=""
                    width="30%"
                    height="100%"
                  />
                </div>
                <div class="gvImgright">
                  <h3>Yadi Reddy</h3>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  (5.0) | 14 September 2021
                  <h3>Nice</h3>
                </div>
              </div>
              <hr />
              <div class="gvReviewdetails">
                <div class="gvImgreview">
                  <img
                    src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg/Croma%20Assets/UI%20Assets/profile-avatar.png/mxw_1440,f_auto"
                    alt=""
                    width="30%"
                    height="100%"
                  />
                </div>
                <div class="gvImgright">
                  <h3>Yadi Reddy</h3>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  (5.0) | 14 September 2021
                  <h3>Nice</h3>
                </div>
              </div>
              <hr />
              <div class="gvReviewdetails">
                <div class="gvImgreview">
                  <img
                    src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg/Croma%20Assets/UI%20Assets/profile-avatar.png/mxw_1440,f_auto"
                    alt=""
                    width="30%"
                    height="100%"
                  />
                </div>
                <div class="gvImgright">
                  <h3>Yadi Reddy</h3>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  (5.0) | 14 September 2021
                  <h3>Nice</h3>
                </div>
              </div>
              <hr />
              <div class="gvReviewdetails">
                <div class="gvImgreview">
                  <img
                    src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg/Croma%20Assets/UI%20Assets/profile-avatar.png/mxw_1440,f_auto"
                    alt=""
                    width="30%"
                    height="100%"
                  />
                </div>
                <div class="gvImgright">
                  <h3>Yadi Reddy</h3>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  <span
                    class="fa fa-star gvchecked"
                    style="font-size: 20px"
                  ></span>
                  (5.0) | 14 September 2021
                  <h3>Nice</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Accessories for your product -->
      <div id="gvAccessoriesbox">
        <div id="gvHeading"><h2>Accessories for your product</h2></div>
        <div id="gvaccBox">
          <!-- Flickity HTML init -->
          <div class="carousel" data-flickity='{ "contain": true }'>
            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605265226/Croma%20Assets/Communication/Mobiles%20Accessories/Images/9002842456094.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Hyphen TPU Back Case For iPhone 12 Mini (Flexible...</p>
                <p>₹499.00</p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <hr />
                <i
                  class="fa fa-shopping-cart"
                  style="font-size: 24px; color: #00c09e"
                ></i>
                <button
                  class="gvIcon"
                  style="
                    background-color: #121212;
                    color: #00c09e;
                    border: none;
                  "
                  id="adToCart"
                >
                  Add to cart
                </button>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605262175/Croma%20Assets/Communication/Chargers%20and%20Batteries/Images/9001905291294.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple 20 Watt USB-C Power Adapter...</p>
                <p>₹1,900.00</p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <hr />
                <i
                  class="fa fa-shopping-cart"
                  style="font-size: 24px; color: #00c09e"
                ></i>
                <button
                  class="gvIcon"
                  style="
                    background-color: #121212;
                    color: #00c09e;
                    border: none;
                  "
                >
                  Add to cart
                </button>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1606484181/Croma%20Assets/Communication/Mobiles%20Accessories/Images/9000615477278.png/mxw_1440,f_auto"
                  alt="OnePlus Nord 2"
                />

                <p>Hyphen Tempered Glass Screen Protector For...</p>
                <p>₹499.00</p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <hr />
                <i
                  class="fa fa-shopping-cart"
                  style="font-size: 24px; color: #00c09e"
                ></i>
                <button
                  class="gvIcon"
                  style="
                    background-color: #121212;
                    color: #00c09e;
                    border: none;
                  "
                >
                  Add to cart
                </button>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605337274/Croma%20Assets/Entertainment/Home%20Theatres%20and%20Audio%20Systems/Images/8992903462942.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple 1.2 Meter Lightning to 3.5mm Stereo Audio Au...</p>
                <p>₹3,500.00</p>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <hr />
                <i
                  class="fa fa-shopping-cart"
                  style="font-size: 24px; color: #00c09e"
                ></i>
                <button
                  class="gvIcon"
                  style="
                    background-color: #121212;
                    color: #00c09e;
                    border: none;
                  "
                >
                  Add to cart
                </button>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605339211/Croma%20Assets/Miscellanous/Cables%20and%20Connectors/Images/8992904347678.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple 0.5 Meter Lightning to USB 2.0 Multi Utility...</p>
                <p>₹1,800.00</p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <hr />
                <i
                  class="fa fa-shopping-cart"
                  style="font-size: 24px; color: #00c09e"
                ></i>
                <button
                  class="gvIcon"
                  style="
                    background-color: #121212;
                    color: #00c09e;
                    border: none;
                  "
                >
                  Add to cart
                </button>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605261822/Croma%20Assets/Communication/PowerBank/Images/8856754225182.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Samsung 10000 mAh Power Bank (EB-P1100BSNGIN,...</p>
                <p>
                  ₹1,399.00<strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                  >
                    ₹1,699.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <hr />
                <i
                  class="fa fa-shopping-cart"
                  style="font-size: 24px; color: #00c09e"
                ></i>
                <button
                  class="gvIcon"
                  style="
                    background-color: #121212;
                    color: #00c09e;
                    border: none;
                  "
                >
                  Add to cart
                </button>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1617192562/Croma%20Assets/Communication/Chargers%20and%20Batteries/Images/233444_l598t0.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Vaku Luxos MagPro 15 Watts/3 Amps Wireless...</p>
                <p>
                  ₹1,999.00
                  <strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                    >₹3,499.00</strike
                  >
                </p>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <hr />
                <i
                  class="fa fa-shopping-cart"
                  style="font-size: 24px; color: #00c09e"
                ></i>
                <button
                  class="gvIcon"
                  style="
                    background-color: #121212;
                    color: #00c09e;
                    border: none;
                  "
                >
                  Add to cart
                </button>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1606484192/Croma%20Assets/Communication/Mobiles%20Accessories/Images/9000615673886.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Hyphen Tempered Glass Screen Protector For...</p>
                <p>
                  ₹699.00
                  <strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                    >₹899.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <hr />
                <i
                  class="fa fa-shopping-cart"
                  style="font-size: 24px; color: #00c09e"
                ></i>
                <button
                  class="gvIcon"
                  style="
                    background-color: #121212;
                    color: #00c09e;
                    border: none;
                  "
                >
                  Add to cart
                </button>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605257683/Croma%20Assets/Miscellanous/Cables%20and%20Connectors/Images/8993901445150.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple 1 Meter USB 2.0 (Type-A) to Lightning...</p>
                <p>
                  ₹1,500.00
                  <strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                    >₹1,800.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <hr />
                <i
                  class="fa fa-shopping-cart"
                  style="font-size: 24px; color: #00c09e"
                ></i>
                <button
                  class="gvIcon"
                  style="
                    background-color: #121212;
                    color: #00c09e;
                    border: none;
                  "
                >
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- similar products -->
      <div id="gvAccessoriesbox">
        <div id="gvHeading"><h2>Similar product</h2></div>
        <div id="gvaccBox">
          <!-- Flickity HTML init -->
          <div class="carousel" data-flickity='{ "contain": true }'>
            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605270107/Croma%20Assets/Communication/Mobiles/Images/8999510835230.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone 12 Mini (128GB ROM, 4GB RAM,...</p>
                <p>
                  ₹58,990.00
                  <strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                    >₹64,900.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1619096091/Croma%20Assets/Communication/Mobiles/Images/234256_heyvl8.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone 12 Mini (128GB ROM, 4GB RAM,...</p>
                <p>
                  ₹58,990.00
                  <strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                    >₹64,900.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1606484181/Croma%20Assets/Communication/Mobiles%20Accessories/Images/9000615477278.png/mxw_1440,f_auto"
                  alt="OnePlus Nord 2"
                />

                <p>Apple iPhone 12 Mini (128GB ROM, 4GB RAM,...</p>
                <p>
                  ₹53,900.00<strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                    >₹59,900.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605272001/Croma%20Assets/Communication/Mobiles/Images/8999513063454.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone 12 Mini (64GB ROM, 4GB RAM,...</p>
                <p>
                  ₹53,900.00
                  <strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                    >₹59,900.00</strike
                  >
                </p>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605269918/Croma%20Assets/Communication/Mobiles/Images/8999510310942.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone 12 (64GB ROM, 4GB RAM,...</p>
                <p>
                  ₹62,900.00
                  <strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                    >₹65,900.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605263083/Croma%20Assets/Communication/Mobiles/Images/8999510704158.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone 12 (64GB ROM, 4GB RAM,...</p>
                <p>
                  ₹62,900.00
                  <strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                    >₹65,900.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605263179/Croma%20Assets/Communication/Mobiles/Images/8999512801310.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone 12 (64GB ROM, 4GB RAM,...</p>
                <p>
                  ₹62,900.00
                  <strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                    >₹65,900.00</strike
                  >
                </p>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1631773948/Croma%20Assets/Communication/Mobiles/Images/243462_x2j1be.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone 13 (128GB ROM, MLPJ3HN/A,...</p>
                <p>
                  ₹73,990.00<strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                    >₹79,900.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605261676/Croma%20Assets/Communication/Mobiles/Images/9001487663134.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone SE (128GB ROM, 3GB RAM,...</p>
                <p>
                  ₹40,999.00<strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                  >
                    ₹44,900.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- People also bought -->
      <div id="gvAccessoriesbox">
        <div id="gvHeading"><h2>People also bought</h2></div>
        <div id="gvaccBox">
          <!-- Flickity HTML init -->
          <div class="carousel" data-flickity='{ "contain": true }'>
            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1631856954/Croma%20Assets/Communication/Mobiles/Images/243526_q9h6pv.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone 13 Pro Max (128GB , MGMV3HN/X,...</p>
                <p>₹129,900.00</p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1631855659/Croma%20Assets/Communication/Mobiles/Images/243516_sgzafx.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone 13 Pro (256GB , MLVP3HN/A, Sierra...</p>
                <p>₹129,900.00</p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1631773619/Croma%20Assets/Communication/Mobiles/Images/243459_yasser.png/mxw_1440,f_auto"
                  alt="OnePlus Nord 2"
                />

                <p>Apple iPhone 13 (128GB ROM,MLPF3HN/A, Midnight...</p>
                <p>
                  ₹73,990.00
                  <strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                    >₹79,900.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1631794874/Croma%20Assets/Communication/Mobiles/Images/243509_fkbqm6.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone 13 Pro (128GB ROM, MLVC3HN/A, Gold)...</p>
                <p>₹119,900.00</p>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1631797300/Croma%20Assets/Communication/Mobiles/Images/243465_scozk2.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone 13 (256GB ROM, MLQ73HN/A, Starligh...</p>
                <p>
                  ₹81,990.00
                  <strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                  >
                    ₹89,900.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
              </div>
            </div>

            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605272303/Croma%20Assets/Communication/Mobiles/Images/9001487597598.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone SE (64GB ROM, 3GB RAM,...</p>
                <p>
                  ₹35,999.00
                  <strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                  >
                    ₹39,900.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1631776918/Croma%20Assets/Communication/Mobiles/Images/243468_a91zhe.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone 13 (256GB ROM, MLQA3HN/A, Blue),...</p>
                <p>
                  ₹81,990.00
                  <strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                  >
                    ₹89,900.00</strike
                  >
                </p>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1631773948/Croma%20Assets/Communication/Mobiles/Images/243462_x2j1be.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p>Apple iPhone 13 (128GB ROM, MLPJ3HN/A,...</p>
                <p>
                  ₹73,990.00<strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                    >₹79,900.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span class="fa fa-star" style="font-size: 20px"></span>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="popular_products">
                <img
                  src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/h_300,w_300/v1605261676/Croma%20Assets/Communication/Mobiles/Images/9001487663134.png/mxw_1440,f_auto"
                  alt="iphone 13"
                />

                <p</p>
                <p>
                  ₹40,999.00<strike
                    style="font-size: 14px; color: grey; margin-left: 10px"
                  >
                    ₹44,900.00</strike
                  >
                </p>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
                <span
                  class="fa fa-star gvchecked"
                  style="font-size: 20px"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="szcontainer"></div>
  </body>
</html>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<!-- <script src="../second.js"></script> -->
<!-- navbar -->
<!-- <script type="module">
  import navbar from "../components/navbar.js";

  console.log("navbar:", navbar);

  let container = document.getElementById("container");
  container.innerHTML = navbar();

  var products = JSON.parse(localStorage.getItem("products")) || [];
  function chgCart() {
    document.querySelector("#cartValu").innerHTML = products.length;
  }

  chgCart();
</script>
<!-- footer -->
<!-- <script type="module">
  import footer from "../components/footer.js";

  console.log("footer:", footer);

  let container = document.getElementById("szcontainer");
  container.innerHTML = footer();
</script> -->
-->
